// ==================================================
// contents
// ==================================================

@keyframes blink {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.index__main {
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  top: 80px;

  .text {
    font-family: "Courier New", monospace;
    max-width: 660px;
    // height: 120px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;

    .line {
      display: inline-block;
      position: relative;
      height: 60px;
      font-size: 60px;
      margin-bottom: 30px;

      span {
        vertical-align: middle;
        display: inline-block;
      }

      .char {
        text-align: center;
        width: 1em;
      }

      .cursor {
        width: 1px;
        height: 60px;
        background: #000;
        margin-left: -1px;
        position: absolute;
        right: 0;
      }

      .cursor.blink {
        animation: blink .5s steps(2, start) infinite alternate;
      }

    }

    .link {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      a {
        display: inline-block;
        width: 5em;
        height: 1.5em;
        line-height: 1.5em;
        font-size: 30px;
        letter-spacing: .2em;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        background: #000;
      }

    }

  }

}

// ==================================================
// 700px以下のスタイル
// ==================================================

@media screen and (max-width: 700px) {

  // ==================================================
  // contents
  // ==================================================
  
  .index__main {

    .text {
      max-width: 440px;

      .line {
        font-size: 40px;
        height: 40px;

        .cursor {
          height: 40px;
        }

      }

      .link {
  
        a {
          font-size: 20px;
        }
  
      }
  
    }

  }

}

// ==================================================
// 500px以下のスタイル
// ==================================================

@media screen and (max-width: 500px) {

  // ==================================================
  // contents
  // ==================================================
  
  .index__main {

    .text {
      max-width: 330px;

      .line {
        font-size: 30px;
        height: 30px;

        .cursor {
          height: 30px;
        }

      }

      .link {
        
        a {
          width: 60%;
          font-size: 18px;
          margin-bottom: 1em;
        }
  
      }

    }
  
  }

}

// ==================================================
// 500px以下のスタイル
// ==================================================

@media screen and (max-width: 400px) {

  // ==================================================
  // contents
  // ==================================================
  
  .index__main {
    
    .text {
      max-width: 220px;

      .line {
        font-size: 20px;
        height: 20px;

        .cursor {
          height: 20px;
        }

      }

      .link {
        
        a {
          font-size: 14px;
          width: 100%;
        }
  
      }

    }
  
  }
  
}