// ==================================================
// z-index
// ==================================================

header {
  z-index: 1;

  .index__overlay {
    z-index: 2;
  }
  
  nav {
    z-index: 3;
  
    ul {
      z-index: 4;
    }

    .index__menu-button {
      z-index: 5;
    }
    
    .index__menu-icon {
      z-index: 5;
    }
  }
}

// ==================================================
// header
// ==================================================

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d9d9d9;
  position: fixed;
  left: 0;
  top: 0;

  h1 {
    position: absolute;
    left: 24px;
  }

  nav {
    width: auto;
    height: auto;
    position: absolute;
    right: 24px;
  
    ul {
      li {
        display: inline;
        font-size: 1.2rem;
        margin: 0 0 0 50px;
      }
    }

    .index__overlay {
      display: none;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .6;
      position: fixed;
      top: 0;
      left: 0;
    }
    
    .index__menu-button {
      display: none;
    }
  }
}

// ==================================================
// 760px以下のスタイル
// ==================================================

@media screen and (max-width: 760px) {

  // ==================================================
  // header
  // ==================================================
  
  header {
    nav {
      .index__menu-button {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;
        position: fixed;
        right: 24px;
        top: 40px;
        transform: translateY(-50%);    
      }
      
      .index__menu-icon {
        display: block;
        width: 1.8rem;
        height: 4px;
        background: #333;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      
        &::before, &::after {
          display: block;
          content: "";
          width: 100%;
          height: 4px;
          background: #333;
          transition: transform .2s;
        }
      
        &::before {
          position: absolute;
          top: -10px;
        }
        
        &::after {
          position: absolute;
          top: 10px;
        }
      }
    
      ul {
        width: 300px;
        height: 100%;
        background: #fff;
        border-left: 1px solid #d9d9d9;
        padding-top: 80px;
        position: fixed;
        top: 0;
        left: 100%;
        transition: transform .2s;
    
        li {
          display: block;
          margin: 0 50px 25px 50px;
        }
      }

      #checkbox:checked ~ .index__menu-button .index__menu-icon {
        background: transparent;
      
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(-135deg);
        }
      
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(135deg);
        }
      }
      
      #checkbox:checked ~ .index__overlay {
        display: block;
      }
      
      #checkbox:checked ~ ul {
        transform: translate(-300px);
      }
    }
  }
  
}